/* Global Layout Set-up */
* {
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f2f4;
}

/* Header Styles */

.main-header {
  background: url('http://www2.nichiha.com/l/65302/2018-05-22/cjkc15/65302/141824/header_mobile.jpg') no-repeat top center;
  background-size: cover;
  background-color: #0057b8;
  margin: 0 auto;
}

h1 {
  font-size: 2.75rem;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  line-height: 1.1;
  margin: -30px;
}

.header-p {
  font-size: 1.25rem;
  color: white;
  width: 80%;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: 400;
}

.header-border {
  border-top: 1px white solid;
  width: 90px;
  margin: 90px auto 60px;
}

.top-logo {
  margin: 50px 0 30px;
  width: 70px;
}

.down-arrow {
  height: 50px;
  margin: 40px 0 40px;
}

/* Column Styles */

main {
  background-color: #f0f2f4;
}

.main-border {
  border-top: 2px #565c6b solid;
  width: 90px;
  margin: 50px 0 50px;
}

.one {
  margin: 25px 25px 0 25px;
  padding: 0 15px;
}

.one p {
  color: #565c6b;
  font-size: 20px;
  text-align: left;
  line-height: 2.25;
}

h2 {
  color: #565c6b;
  font-size: 30px;
  text-align: left;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tickets {
  display: block;
  width: 100%;
  max-width: 555px;
  margin: 30px 0 70px;
}


.rules {
  color: #565c6b;
  text-decoration: underline;
  margin: 25px 0 25px;
}

/* Styles for the form */

.form-holder {
  width: 85%;
  margin: 75px auto 30px;
  background-color: #fff;
  border-top: 6px #0057b8 solid;
  min-height: 1050px;
}

h3 {
  color: #565c6b;
  font-size: 24px;
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0 15px;
  font-weight: 400;
  line-height: 1.5em;
}

.form {
  width: 85%;
  margin: 0 auto;
}

.h4 {
  color: #565c6b;
  font-size: 9px;
  text-align: center;
  width: 85%;
  margin: 10px 0 0 30px;
  font-weight: 400;
}
/* Form Input Styles */

/* .field-label {
  display: block;
  color: #565C6B;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;

}

.form-field {
  display: block;
  color: #565C6B;
  margin-top: 5px;
  font-size: 18px;
  width: 100%;
  padding: 15px 0;
  border: 1px #d3d3d3 solid;
  padding-left: 10px;
  border-radius: 2px;
}

.submit {
  background-color: #0057B8;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
  padding: 18px 0;
} */

/* Styles for contest rules */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
     color: #565c6b;
     text-decoration: underline;
}

.rule-p {
  font-size: 13px;
  padding: 0 20px 20px 20px;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 20px;
}

.container p {
  font-size: 13px;
  padding: 0 20px;
  text-align: left;
}

.container h4 {
  font-size: 24px;
  padding: 0 20px;
}

/* Styles for footer */

footer {
  display: block;
  background-color: #4b5161;
  padding: 40px 15px;
}

footer p {
  color: white;
}

.bottom-logo {
  height: 60px;
  margin-top: -10px;
}

.footer-info {
  margin: 0 25px 0 25px;
}

.contact {
  color: white;
  text-decoration: underline;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Styles for larger screens */

@media (min-width: 768px) {

  .main-header {
    background: url('http://www2.nichiha.com/l/65302/2018-05-22/cjkc19/65302/141828/header.jpg') no-repeat top center;
    background-size: cover;
  }

  .main-columns {
    display: flex;
  }

  .one {
    flex-basis: 50%;
  }

  .two {
    flex-basis: 50%;
  }

  .top-logo {
    margin-top: 140px;
    width: 115px;
  }

  .down-arrow {
    height: 70px;
    margin: 60px 0 70px;
  }

  h1 {
    line-height: 1;
  }

  .footer-info {
    width: 80%;
    margin: 0 auto;
  }

  .header-p {
    font-size: 1.5rem;
    color: white;
    width: 45%;
    margin: 0 auto;
    font-weight: 400;
  }

  .header-border {
    width: 140px;
  }

  .tickets {
    position: absolute;
    bottom: 0;
    width: 85%;
  }

  .one {
    margin-left: 40px;
    position: relative;
  }

  .two {
    margin-right: 40px;;
  }

  h3 {
    font-size: 24px;
  }

}

@media (min-width: 1250px) {

  .bottom-logo {
    float: right;
  }

  .header-p {
    font-size: 28px;
  }

  footer p {
    float: left;
  }

  h1 {
    font-size: 5em;
  }

  .one {
    margin-left: 200px;
  }

  .two {
    margin-right: 200px;
  }

}

@media (min-width: 2000px) {

  .one {
    margin-left: 500px;
  }

  .two {
    margin-right: 500px;
  }

  .footer-info {
    width: 55%;
  }
}

@media (min-width: 2700px) {

  .one {
    margin-left: 900px;
  }

  .two {
    margin-right: 900px;
  }

  .footer-info {
    width: 40%;
  }
}
